<!-- templates/home.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Home | My Site{% endblock %}

{% block extra_css %}
<link rel="stylesheet" id="theme-style"
href="{% static 'css/home.css' %}?v={{ timestamp }}"
data-dark="{% static 'css/home.css' %}?v={{ timestamp }}"
data-solar="{% static 'css/sky.css' %}?v={{ timestamp }}">
{% endblock %}

{% block content %}    

  
<div id="sky-container">
  <div class="sky-dark visible">
    <div class="stars"></div>
    <div class="comet"></div>
    <div class="moving-stars"></div>
    <div class="moon" id="moon"></div>
    <div class="phrase"></div>
  </div>

  <div class="sky-light hidden">
    <div class="clouds"></div>
  </div>
</div>


<span class="custom-scroll-arrow">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
    <path d="M246.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 
    0-45.3s32.8-12.5 45.3 0L224 402.7 361.4 265.4c12.5-12.5 32.8-12.5 45.3 
    0s12.5 32.8 0 45.3l-160 160zm160-352l-160 160c-12.5 12.5-32.8 12.5-45.3 
    0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 210.7 361.4 
    73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3z"/>
  </svg>
</span>
  <div class="content-panel">
  <section class="intro-grid">
    <div class="title-container">
    <h1 class="intro-title">THE MATHEMATICAL UNIVERSE</h1>
    </div>
    <div class="side-panel">
      <h1 class="side-panel-title">The Algebraic Mirror</h1>

      <p>In a Cartesian cosmos, you occupy the origin—every vector, metric tensor, and coordinate system is defined relative to your point of view.</p>

      <p>Physical laws arise from symmetry groups (SO(3), U(1)), whose generators encode conservation via Noether’s theorem. Fractal scaling laws—power laws and zeta functions—bridge quantum fluctuations and galactic structures.</p>

      <p>Each measurement collapses a wavefunction into an eigenstate, folding the observer into the formalism. Here, self and universe are algebraically isomorphic: the “equation” that describes your consciousness is the same that governs the fabric of reality.</p>

      <p>Information theory enters as Shannon entropy—every bit exchanged between you and the cosmos reshapes the state space, compressing infinite possibilities into finite observations. The act of observation is itself a map from a Hilbert space to a discrete datum.</p>

    </div>
    <div class="intro-video">
      <iframe
        src="https://www.youtube.com/embed/pSHVbLPWA28?start=5&autoplay=1&mute=1&rel=0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allow="autoplay"
        allowfullscreen
        loading="lazy">
      </iframe>
    </div>
  </section>

</div>

{% endblock %}

{% block scripts %}
  {% comment %} <script src="{% static 'js/home.js' %}?v={{ timestamp }}"></script> {% endcomment %}
  <script src="{% static 'js/sky2.js' %}?v={{ timestamp }}"></script>
{% endblock %}
