
  

  
  .rain.back-row {
    display: none;
    z-index: 1;
    bottom: 60px;
    opacity: 0.5;
  }
  
  body.back-row-toggle .rain.back-row {
    display: block;
  }
  
  .drop {
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
  }
  
  @keyframes drop {
    0% {
      transform: translateY(0vh);
    }
    75% {
      transform: translateY(90vh);
    }
    100% {
      transform: translateY(90vh);
    }
  }
  
  .stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 0.5s linear infinite;
  }
  
  @keyframes stem {
    0% {
      opacity: 1;
    }
    65% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  .splat {
    width: 15px;
    height: 10px;
    border-top: 2px dotted rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    animation: splat 0.5s linear infinite;
    display: none;
  }
  
  body.splat-toggle .splat {
    display: block;
  }
  
  @keyframes splat {
    0% {
      opacity: 1;
      transform: scale(0);
    }
    80% {
      opacity: 1;
      transform: scale(0);
    }
    90% {
      opacity: 0.5;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }
  
  .toggles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  
  .toggle {
    position: absolute;
    left: 20px;
    width: 50px;
    height: 50px;
    line-height: 51px;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .toggle:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
  
  .toggle:active {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .toggle.active {
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .splat-toggle {
    top: 20px;
  }
  
  .back-row-toggle {
    top: 90px;
    line-height: 12px;
    padding-top: 14px;
  }
  body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* For iOS smooth scroll */
  }
  

.sky-dark{
    position: relative;
    width: 100vw;
    height: 150vh;
    background: linear-gradient(to bottom, #001848, #000);
    overflow: hidden;
}


.stars{
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 0;
    left: 0;
}


.star{
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    animation: twinkle 5s infinite alternate;
}


@keyframes twinkle{
    0%, 100% {
          opacity: 0.2;
    }
    50%{
          opacity: 1;
    }
}

.comet{
    position: absolute;
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 20px white, 0 0 40px white, 0 0 60px white;
    top: -50px;
    left: -50px;
    animation: moveComet 10s linear infinite ;


}


@keyframes moveComet{
    0%{
          transform: translate(0,0);
          
    }
    100%{
          transform: translate(100vw, 150vh);
    }
}


.moving-stars {
    position: absolute;
    width: 100%;
    height: 100%;
}


.moving-star{
    position: absolute;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 5px white, 0 0 10px white;
    animation: moveStar 8s linear infinite, twinkle 5s infinite alternate;

}

@keyframes moveStar {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100vw, 150vh);
    }
}

/* .moon{
    position: absolute;
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px white, 0 0 40px white ;
    transition: background 1s;
} */


.new-moon{
    background: black;
}


.crescent-moon {
    background: radial-gradient(circle at 25% 25%, white 25%, black 25%);
}

.half-moon{
    background: radial-gradient(circle at 50% 50%, white 50%, black 50%);

}

.gibbous-moon {
    background: radial-gradient(circle at 75% 75%, white 75%, black 75%);
}

.full-moon{
    background-color: white;
}
  .single-toggle {
    top: 160px;
  }
  
  body.single-toggle .drop {
    display: none;
  }
  
  body.single-toggle .drop:nth-child(10) {
    display: block;
  }